th {
  background-color: #f5f5f5;
  color: black;
  border: 1px solid black;
  text-align: center;
}

td {
  border: 1px solid black;
  text-align: center;
}

 tr:nth-child(even) {background-color: #f2f2f2;} 